DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/cannapunk"
JWT_SECRET="cambia-esto-por-un-secreto-largo-y-random"
JWT_EXPIRES_IN="7d"
PORT=4000
CLIENT_URL="http://localhost:5173"
# MercadoPago
MP_ACCESS_TOKEN="TEST-xxxx"
FRONTEND_URL="http://localhost:5173"
API_URL="http://localhost:4000"
